Package: veristand-web-service-{version}
Version: 1.0
Architecture: windows_x64
Maintainer: National Instruments <support@ni.com>
XB-Plugin: file
Description:  This is an addon to VeriStand which allows for a HTTP web interface.
XB-Eula:  
Priority: standard
Homepage: http://www.ni.com
XB-LanguageSupport: en
XB-UserVisible: yes
Section: Add-Ons
XB-DisplayVersion: 1.0
XB-DisplayName: VeriStand Web Service {version}
Depends: 
